@{
    ViewBag.Title = "Practice Velocity";
}

<div class="jumbotron">
    <h1>Coding Problem</h1>
    <p class="lead">Which event would you like?</p>
    <p>
        @*ActionLink(linkText, actionName, controllerName, routeValues, htmlAttributes)*@
        @Html.ActionLink("Register", "PatientResult", "Home", new { eventType = "register" }, new { @class = "btn btn-primary btn-lg" })
        @Html.ActionLink("Diagnose", "PatientResult", "Home", new { eventType = "diagnose" }, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>