@{
    ViewBag.Title = ViewBag.Message + " results:";
}
<h2>@ViewBag.Title</h2>
@*Loop through results list*@
<ul>
    @*Check for Errors in event*@
    @if (ViewBag.Error == "")
    {
        foreach (var item in ViewBag.Results)
        {
            @*Print each result in list*@
            <li>@item</li>
        }
    }
    else
    {
        @*Print Errors*@
        <li>@ViewBag.Error</li>
    }

</ul>

